# DAAN 862 Lesson 4 Assignment 1

In [107]:
import pandas as pd

## Question 1

## Explore the dataset

In [111]:
# Load the mtcars dataset
df = pd.read_csv('Assignment4_data.csv')

In [113]:
assignment4 = df.describe()
print(assignment4)

              one         two       three        four        five
count  195.000000  197.000000  199.000000  194.000000  196.000000
mean    -2.656410    2.208122    2.095477   -2.829897   -2.612245
std     67.489135   53.116759  101.864120   87.098996   84.158719
min   -363.000000 -100.000000 -100.000000 -576.000000 -821.000000
25%    -54.500000  -44.000000  -60.000000  -52.500000  -42.250000
50%      0.000000   -1.000000   -9.000000   -8.000000   -1.000000
75%     52.000000   45.000000   45.000000   44.000000   54.250000
max     97.000000   97.000000  832.000000  728.000000   99.000000

In [115]:
# Display basic information about the dataset
print(assignment4.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     8 non-null      float64
 1   two     8 non-null      float64
 2   three   8 non-null      float64
 3   four    8 non-null      float64
 4   five    8 non-null      float64
dtypes: float64(5)
memory usage: 384.0+ bytes
None

In [117]:
print(assignment4.head())

              one         two       three        four        five
count  195.000000  197.000000  199.000000  194.000000  196.000000
mean    -2.656410    2.208122    2.095477   -2.829897   -2.612245
std     67.489135   53.116759  101.864120   87.098996   84.158719
min   -363.000000 -100.000000 -100.000000 -576.000000 -821.000000
25%    -54.500000  -44.000000  -60.000000  -52.500000  -42.250000

## Find and handle missing values

In [120]:
# Check for missing values
print(assignment4.isnull().sum())

one      0
two      0
three    0
four     0
five     0
dtype: int64

In [122]:
# Handle missing values (example: fill with mean)
df = df.fillna(assignment4.mean())

In [124]:
# Check again for missing values
print(assignment4.isnull().sum())

one      0
two      0
three    0
four     0
five     0
dtype: int64

## Convert the "variable" column to dummy variables

In [127]:
# Create dummy variables
dummies = pd.get_dummies(df['variable'], prefix='var')

In [129]:
# Join the dummies to the original dataframe
df = pd.concat([df, dummies], axis=1)

## Convert the "one" column into 3 bins

In [132]:
# Create 3 bins for the 'one' column
df['one_binned'] = pd.cut(df['one'], bins=3, labels=['Low', 'Medium', 'High'])

In [134]:
# View the dataset with the binned column
df.head()

,one,two,three,four,five,variable,var_A1,var_A2,var_B1,var_B2,one_binned
0,-92.0,-76.0,-33.0,3.0,-13.0,B2,False,False,False,True,Medium
1,-21.0,76.0,38.0,-6.0,80.0,B1,False,False,True,False,High
2,-2.0,-47.0,-34.0,-86.0,-66.0,A1,True,False,False,False,High
3,-76.0,43.0,7.0,-40.0,-42.0,A1,True,False,False,False,Medium
4,44.0,37.0,-7.0,-14.0,30.0,A1,True,False,False,False,High

## Question 2:
## Use the following speech by the Rev. Dr. Martin Luther King, Jr.:

In [137]:
s = """I am happy to join with you today in what will go down in history as the greatest demonstration for freedom 
in the history of our nation. Five score years ago, a great American, in whose symbolic shadow we stand today, 
signed the Emancipation Proclamation. This momentous decree came as a great beacon light of hope to millions of Negro slaves 
who had been seared in the flames of withering injustice. It came as a joyous daybreak to end the long night of their captivity. 
But one hundred years later, the Negro still is not free. One hundred years later, the life of the Negro is still sadly crippled 
by the manacles of segregation and the chains of discrimination. One hundred years later, the Negro lives on a lonely island of poverty 
in the midst of a vast ocean of material prosperity. One hundred years later, the Negro is still languishing in the corners of American society 
and finds himself an exile in his own land. So we have come here today to dramatize a shameful condition."""

In [139]:
# Step 1: Split the speech into words and clean up punctuation
import string

In [141]:
# Remove punctuation and convert to lowercase for consistency
removal = str.maketrans('', '', string.punctuation)
cleaned_s = s.translate(translator).lower()

In [143]:
# Split the speech into words
words = cleaned_s.split()

In [145]:
# 1. Find how many unique words are in the speech
unique_words = set(words)
num_unique_words = len(unique_words)
print("Number of unique words:", num_unique_words)

Number of unique words: 107

In [147]:
# 2. Find which word appears the most
from collections import Counter

In [149]:
word_counts = Counter(words)
most_common_word = word_counts.most_common(1)[0]
print("Most common word:", most_common_word)

Most common word: ('the', 14)

In [151]:
# 3. Find how many words start with 't'
words_starting_with_t = [word for word in words if word.startswith('t')]
num_words_starting_with_t = len(words_starting_with_t)
print("Number of words starting with 't':", num_words_starting_with_t)

Number of words starting with 't': 23